/* #region common */
body {
    margin: 0;
    height: 100vh;
}

/* #endregion */

/* #region header */
#header {
    height: 60px;
    background-color: gold;
}

/* #endregion */

#main {
    height: calc(100% - 60px);
    display: grid;
    grid-template-columns: minmax(280px,20%) 80%;
}

/* #region menu */
#menu {
    background-color: skyblue;
}

/* #endregion */

/* #region content */
#content {
    background-color: gainsboro;
}

/* #endregion */